// BOOTSTRAP OVERRIDE

$primary: #5265e1;
$secondary: #fa5959;
$dark: rgb(22, 22, 72);
$enable-shadows: true;

$nav-link-hover-color: $secondary !important;
$nav-link-focus-color: black !important ;

$nav-pills-link-active-color: black;
$nav-pills-link-active-bg: rgba(0, 0, 0, 0);

@import '../node_modules/bootstrap/scss/bootstrap';

.btn-primary {
  @extend .bg-primary;
  @extend .text-white;
}

// Header
.img-hero {
  border-radius: 170px 0px 0px 170px;
  background: #5265e1;
  height: 60%;
  width: 100%;
  position: relative;
  top: -60%;
  right: -23%;
  z-index: -1;
}

.logo-bookmark {
  color: white;
}

// Feature Tabs

header a {
  font-weight: 500;
}

main {
  overflow: hidden;
  margin-top: 100px;
  .nav {
    border-bottom: 1px solid #e5e5e5;
    border-radius: 0;
  }
}

footer a {
  font-weight: 500;
}

main {
  .nav .nav-item .nav-link {
    &.active {
      color: black !important;
      border-bottom: 3px solid #fa5959 !important;
      border-radius: 0;
    }
  }
}

.nav .nav-item .nav-link {
  color: black;
}

.line {
  border-bottom: 1px solid #e5e5e5;
  border-radius: 0;
}

.tab-blue {
  border-radius: 0px 170px 170px 0px;
  background: #5265e1;
  height: 70%;
  width: 100%;
  position: relative;
  left: -25%;
  bottom: 70%;
  z-index: -1;
}

.tab-blue1 {
  border-radius: 0px 0px 170px 0px;
  background: #5265e1;
  height: 70%;
  width: 120%;
  position: relative;
  left: -30%;
  bottom: 60%;
  z-index: -1;
}
#features {
  margin-bottom: 50px;
}
// Extension Cards

#software {
  margin-bottom: 100px;
}

#chrome {
  position: relative;
  top: -30px;
}

#firefox {
  position: relative;
  top: 20px;
}

#opera {
  position: relative;
  top: 70px;
}

// Accordion FAQ

.accordion-item {
  border-left: none;
  border-right: none;
  border-radius: 0 !important;

  .accordion-button {
    border-radius: 0 !important;
  }
}
